accelerate==0.30.1
amdsmi==7.0.2
apache_beam==2.69.0
apex==0.9.10dev
asgiref==3.8.1
astunparse==1.6.3
azureml==0.2.7
beautifulsoup4==4.14.2
bpython==0.26
causal_conv1d==1.5.3.post1
cbor==1.0.0
clearml==2.0.2
codecarbon==3.0.8
colorama==0.4.6
comet_ml==3.54.0
conda==4.3.16
coremltools==8.3.0
cx_Oracle==8.3.0
dagshub==0.6.3
deeplearning==0.0.1
defusedxml==0.7.1
dill==0.3.8
dp==1.00
dvclive==3.48.5
einops==0.8.1
elasticsearch==9.2.0
essentia==2.1b6.dev1389
etcd==2.0.8
expecttest==0.3.0
faiss==1.5.3
fb==0.4.0
fbscribelogger==0.1.7
flash_attn==2.8.3
flax==0.12.0
flytekit==1.16.8
foo==.1
fsspec==2025.10.0
ftfy==6.3.1
fugashi==1.5.2
g2p_en==2.1.0
galore_torch==1.0
gast==0.4.0
gdown==5.2.0
gguf==0.17.1
gradio==5.49.1
huggingface_hub==0.23.2
hypothesis==6.142.4
importlib_metadata==7.0.1
importlib_metadata==8.0.0
intel_extension_for_pytorch==2.8.0
ipadic==1.0.0
ipdb==0.13.13
jax==0.4.10
jaxlib==0.8.0
jieba==0.42.1
joblib==1.2.0
joblibspark==0.6.0
kenlm==0.3.0
keras==2.12.0
keras_nlp==0.23.0
librosa==0.11.0
lmdb==1.7.5
lz4==4.4.4
mamba_ssm==2.2.6.post3
mlflow==3.1.0
mlflow_skinny==3.1.0
mlx==0.29.3
monkeytype==23.3.0
moviepy==2.2.1
mpmath==1.3.0
multiprocess==0.70.16
MySQL-python==1.2.5
natten==0.21.1
networkx==3.3
nvidia_ml_py==12.570.86
objgraph==3.6.2
onnxscript==0.5.6
optimum==2.0.0
optree==0.17.0
optuna==4.5.0
oracledb==3.4.0
phonemizer==3.3.0
polars==1.35.1
pretty_midi==0.2.11
psycopg==3.2.12
pulp==3.3.0
pwlf==2.5.2
py3nvml==0.2.7
py7zr==0.21.0
pyarrow_hotfix==0.7
pyctcdecode==0.5.0
pydot==4.0.1
Pygments==2.19.2
pyinstrument==5.1.1
pylibmc==1.6.3
pymemcache==4.0.0
pyspark==4.0.1
pytesseract==0.3.13
pytest==8.3.4
pytest_subtests==0.15.0
pythainlp==5.1.2
pytorch_lightning==2.5.5
pytorch_quantization==2.2.1
pywatchman==3.0.0
pywin32==306
rarfile==4.2
ray==2.51.0
rhoknp==1.7.1
rjieba==0.1.13
s3fs==2025.10.0
sacremoses==0.1.1
scann==1.4.2
sigopt==8.8.3
sqlparse==0.5.3
sudachipy==0.6.10
sympy==1.13.1
tabulate==0.9.0
tblib==3.2.0
tensorboardX==2.6.2.2
tensorboardX==2.6.4
tensorflow_datasets==4.9.4
tensorflow_hub==0.16.1
tensorflow_probability==0.25.0
tensorflow_text==2.19.0
termcolor==3.2.0
tf2onnx==1.16.1
tf_keras==2.20.1
torch==2.6.0+cu126
torch_npu==2.8.0
torch_xla==2.8.1
torchaudio==2.6.0
torchrec==1.3.0
torchvision_extra_decoders==0.0.2
traitlets==5.14.3
typing_extensions==4.15.0
unidic==1.1.0
unidic_lite==1.0.8
wandb==0.16.4
xmlrunner==1.7.7
z3_solver==4.13.4.0
zstandard==0.25.0
